.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: lightslategrey;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}

.project {
    min-height: 150px;
    height: auto;
}

.project {
    background: #fff;
    border: 5px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}

.project-grey {
    border-color: #95a5a6;
}

.project-red {
    border-color: #5F0F40;
}

.project-green {
    border-color: #9A031E;
}

.project-blue {
    border-color: #FB8B24;
}

.project-lightblue {
    border-color: #E36414;
}

.project-orange {
    border-color: #0F4C5C;
}

.project-content {
    padding: 0 20px 10px;
}

.draggable {
    will-change: transform;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    margin: 10px auto;
    position: relative;

&
:after {
    right: 7px;
    position: absolute;
    cursor: pointer;
    line-height: 5;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
    transform: translateX(120%);
    opacity: 1;
}

&
:hover {

&
:after {
    opacity: 1;
    transform: translate(0);
}

}
}




.card-holder {
	box-shadow: inset 0 0 5px  5px rgba(0,0,0,0.3);
	padding: 1em;
	margin:1em;
	border-radius: 3px;
}

#status-new {
    background-color: #FDE3A7;
}
#status-planning {
    background-color: #C5EFF7;
}
#status-in-progress {
    background-color: #87D37C;
}
#status-done {
    background-color: #3FC380;
}

.header {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    font-family: "Verdana";
}
