<!DOCTYPE html>
<html lang="en">
<head>
    <!--

    Template 2082 Pure Mix

    http://www.tooplate.com/view/2082-pure-mix

    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Site title
   ================================================== -->
    <title>ProMan - Task Tracker</title>

    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="../static/css/animate.min.css">

    <!-- Font Icons CSS
   ================================================== -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">

    <!-- Main CSS
   ================================================== -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Google web font
   ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

    <div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container ">
    <nav class="nav-inner transparent">

        <div class="navbar">
            <div class="container">
                <div class="row">

                    <div class="brand">
                        <a href="">ProMan</a>
                    </div>

                    <div class="navicon">
                        <div class="menu-container">

                            <div class="circle dark inline">
                                <i class="icon ion-navicon"></i>
                            </div>

                            <div class="list-menu">
                                <i class="icon ion-close-round close-iframe"></i>
                                <div class="intro-inner">
                                    <ul id="nav-menu">
                                        <li><a href="">Home</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </nav>
</div>


<!-- Header section
================================================== -->
<div class="close-welcome">

    <div id="header" class="header-one">

        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="header-thumb">
                        <h1 class="wow fadeIn" data-wow-delay="1.6s">Welcome to Proman</h1>
                        <h3 class="wow fadeInUp" data-wow-delay="1.9s">Task tracking as you have never seen before</h3>
                    </div>

                </div>

            </div>

        </div>
<div>
    <p>

    </p>
</div>
        <div>
            <button type="button" class="btn btn-default fa fa-chevron-up" aria-hidden="true""></button>
        </div>
    </div>


</div>

<!-- Boards section
================================================== -->
<section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">

                <!-- iso section -->
                <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
                    <!-- <button>ADD</button> -->
                    <!-- iso box section -->
                    <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
                        <div class="iso-box-wrapper col4-iso-box" id="board-holder">


                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<!-- Cards section - Modal
================================================== -->
<div id="result"></div>


<div class="modal fade board-modal" tabindex="-1" role="dialog" aria-labelledby="boardLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 1200px">
        <div class="modal-content">
            <div class="container">
            <div id="board-modal"></div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="new">
                    <h1 class="text-center">New</h1>

                </div>


                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"  id="planning">
                    <h1 class="text-center">Planning</h1>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"  id="in-progress">
                    <h1 class="text-center">In progress</h1>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"  id="done">
                    <h1 class="text-center">Done</h1>

                </div>

            <div class="clearfix"></div>
                <button id="vision" class="btn btn-default btn-lg" style="margin-bottom: 1em" data-toggle="modal" data-target=".board-modal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade card-modal" tabindex="-1" role="dialog" aria-labelledby="boardLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 1200px">
        <div class="modal-content">
            <div class="container">
            <div id="card-modal"></div>


            <div class="clearfix"></div>
                <button class="btn btn-default btn-lg" style="margin-bottom: 1em" data-toggle="modal" data-target=".card-modal">Back</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp" data-wow-delay="0.3s">Copyright © 2017 BugBusters</p>
            </div>

        </div>
    </div>
</footer>



<!-- Javascript 
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/isotope.js"></script>
<script src="../static/js/imagesloaded.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/dragndrop.js"></script>
<script src="../static/js/dataHandler.js"></script>
<script src="../static/js/eventHandler.js"></script>

</body>
</html>